<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- First section -->
      <div class="card">
        <img src="../../assets/incubator.png" class="card-img-top">
        <div class="card-body">
          <button class="btn btn-primary">Drop an egg</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Second section -->
      <div class="card">
        <img src="../../assets/incubator.png" class="card-img-top">
        <div class="card-body">
          <button class="btn btn-primary">Pick up the egg</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Third section -->
      <div class="card">
        <img src="../../assets/incubator.png" class="card-img-top">
        <div class="card-body">
          <button class="btn btn-primary">remainingTime</button>
        </div>
      </div>
    </div>
  </div>
</div>
<button routerLink="/" class="back-button">Back to Home</button>
<br>
<button (click)="getHatching()">Get Hatching</button>
<button (click)="addEgg(1, testEgg)">Get Egg</button>
<button (click)="createIncubators()">Create incubators</button>
<button (click)="withdrawEgg(1)">Withdraw egg</button>
