
<nav>
  <ul>
    <img src="https://i.ibb.co/T0QmRLD/WWA.png" alt="Logo WWA" class="logo-img"/>
    <button routerLink="/team" class="back-button">Team</button>
    <button routerLink="/store" class="back-button">Store</button>
    <button routerLink="/trainer" class="back-button">Trainer</button>
    <button routerLink="/fight" class="back-button">Fight</button>
    <button routerLink="/reports" class="back-button">Reports</button>
    <button routerLink="/hatching" class="back-button">Hatching</button>
    <li *ngIf="isLogged"><app-logout></app-logout></li>
    <li *ngIf="!isLogged"><button routerLink="/login" class="back-button">Login</button> </li>
  </ul>
</nav>

