nav {
  background-color: #4CAF50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
nav li {
  display: inline-block;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}
nav a:hover {
  background-color: #111;
}
